@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");

* {
    font-family: "Tajawal", sans-serif;
}
.navbar-nav .dropdown-menu {
    text-align: right;
}
.welcome-to-saslt .info {
    padding: 22px 30px 22px 0px;
    text-align: right;
}
.welcome-to-saslt .info h6 {
    font-size: 14px;
}
footer input {
    text-align: left;
}
.events .box-main .btn-box i {
    margin-left: 0;
    margin-right: 7px;
}
.strategic_plan ul li::before {
    left: initial;
    right: 0;
    margin-right: 0;
    margin-left: 10px;
    margin-top: 12px;
}
.strategic_plan ul li {
    margin-left: 0;
    margin-right: 20px;
}
.content-history .info {
    right: initial;
    left: -50px;
}

@media (max-width: 768px) {
    .about-us .content {
        text-align: right;
        right: 0;
        left: initial;
    }
    .status .row h2 {
        text-align: right;
    }
    .content-history .info {
        left: 50%;
        transform: translateX(-50%);
    }
}

.hero-history {
    background: url(../Images/ar-imgs/3.png) no-repeat top left / cover;
}
.hero-strategic_plan {
    background: url(../Images/ar-imgs/4.png) no-repeat top left / cover;
}
.hero-Board-of-doctors {
    background: url(../Images/ar-imgs/2.png) no-repeat top left / cover;
}
